python3-anyio
python3-certifi
python3-chardet
python3-charset-normalizer
python3-click
python3-colorama
python3-dbus-python
python3-distro-info
python3-h11
python3-httpcore
python3-httpx
python3-idna
python3-iotop
python3-markdown-it-py
python3-mdurl
python3-nala
python3-netifaces
python3-OPi.GPIO
python3-pexpect
python3-pycurl
python3-Pygments
python3-PyGObject
python3-python-apt
python3-python-debian
python3-PyYAML
python3-requests
python3-rfc3986
python3-rich
python3-six
python3-sniffio
python3-tomli
python3-typer
python3-typing-extensions
python3-unattended-upgrades
python3-urllib3
