API_URL = 'https://api-rfidgate.umcntp.co.id/'
# API_URL = 'http://api-rfidgate.localhost:8000/'

DEVICE = {
    'role': 'gate-out', # gate-in / gate-out / absensi-in / absensi-out
    'type': 'rpi3b', # rpi3b / opizero2
    'gpio_gate_pin':'18',
    'gpio_led_pin':'19',
    'gpio_tutup_gate_pin':'16',
}

"""
reference
https://opi-gpio.readthedocs.io/en/latest/install.html

"""